{% extends 'base.html' %}
{% block content %}
    <div class="container post">
        <!--标题输入框-->
        <div class="row form-group post-title">
            <label for="headline" class="col-1">文章标题</label>
            <input type="text" class="col-11" id="headline"/>
        </div>
        <!--内容编辑框-->
        <div class="row form-group">
            <script id="content" name="content" type="text/plain">
            </script>
        </div>
        <div class="row form-group">
            <!--类型选择-->
            <label for="type" class="col-1">类型：</label>
            <select class="form-control col-2" id="type">
                <option value="1">PHP开发</option>
                <option value="2">Java开发</option>
                <option value="3">Python开发</option>
                <option value="4">Web前端</option>
                <option value="5">测试开发</option>
                <option value="6">数据科学</option>
                <option value="7">网络安全</option>
                <option value="8">蜗牛杂谈</option>
            </select>
            <label class="col-1"></label>
            <!--阅读本文所需积分选择-->
            <label for="credit" class="col-1">积分：</label>
            <select class="form-control col-2" id="credit">
                <option value="0">免费</option>
                <option value="1">1分</option>
                <option value="2">2分</option>
                <option value="5">5分</option>
                <option value="10">10分</option>
                <option value="20">20分</option>
                <option value="50">50分</option>
            </select>
            <label class="col-1"></label>
            <!--保存草稿、发布文章-->
            <button class="form-control btn-default col-2" onclick="doDraft()">保存草稿</button>
            <button class="form-control btn-primary col-2" onclick="doPost()">发布文章</button>
        </div>
    </div>
{% endblock %}